certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
Django==2.1.7
django-nose==1.4.6
djangorestframework==3.9.1
httpie==1.0.2
idna==2.8
Pygments==2.3.1
pytz==2018.9
requests==2.21.0
urllib3==1.24.1